<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}GASSINKTATTOO{% endblock %}</title>
    <link rel="icon" href="{{ asset('./images/logoIco.png') }}" type="image/x-icon" />
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div id="navbar"></div>

    {% block body %}
    {% endblock %}


</body>
<footer>
    <div id="footer"></div>
</footer>

</html>