body {
    background-image: url('../../public/images/9710569c-e024-4338-85bc-4e91f30f3e89.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: white;
    margin: 0; 
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}