body {
    background-image: url('../../public/images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: white;
    margin: 0; 
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}