footer {
    background-color: #222;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

.payment-methods {
    display: flex;
    align-items: center;
}

.payment-methods p {
    margin: 0 1em 0 0;
}

.icons {
    display: flex;
}

.payment-icon {
    margin: 0 10px;
    font-size: 32px; 
    color: #fff;
    transition: color 0.3s;
}

.payment-icon:hover {
    color: #FFD700;
}