<body>
<div>
	<h1>Gracias por registrarte en GassInkTattoo</h1>
</div>
</body>

<p>
    Por favor, confirma tu direcci칩n de correo electr칩nico haciendo clic en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi correo electr칩nico</a>.
    Este enlace caducar치 en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>