<h1>¡Hola! ¡Confirma tu correo electrónico!</h1>

<p>
    Por favor confirme su dirección de correo electrónico haciendo clic en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi correo electrónico</a>.
    Este enlace caducará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Salud!
</p>